<div class="wrapper">
  <div class="header">
    <img src="assets/logo.jpg">
  </div>
  <div class="open-menu">
    <div class="menu-contents">
      <div class="user-name"><p>インテリ アヤコ様</p></div>
      <div class="top-btns">
        <%=link_to "#" do%><p class="follow-count">10 フォロー</p><%end%>
        <%=link_to "#" do%><p class="follower-count">10 フォロワー</p><%end%>
      </div>
      <div class="center-btns">
        <%=link_to "自分の投稿", "#", class: "user-btn"%>
        <%=link_to "いいね！した家具", "#", class: "user-btn"%>
        <%=link_to "お気に入りの家具を投稿", "#", class: "ToPost-btn"%>
      </div>
      <div class="bottom-btns">
        <%=link_to "#" do%><i class="fas fa-cog"></i><span>設定</span><%end%>
        <%=link_to "#" do%><i class="fas fa-sign-out-alt"></i><span>ログアウト</span><%end%>
      </div>
    </div>
    <div class="clip-btn"><span></span><span></span><span></span></div>
  </div>
  <div class="main">
    <div class="intro">
      <ul>
        <li><img src="assets/room03.jpg"></li>
        <li><img src="assets/room04.jpg"></li>
        <li><img src="assets/room01.jpg"></li>
        <li><img src="assets/room02.jpg"></li>
        <li><img src="assets/room05.jpg"></li>
        <li><img src="assets/room06.jpg"></li>
        <li><img src="assets/room07.jpg"></li>
      </ul>
    </div>
  </div>
  <div class="footer">
  </div>
</div>