<!DOCTYPE html>
<html>
  <head>
    <title>Interians</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div class="header"><%=link_to root_path do%><%=image_tag "logo.jpg"%><%end%></div>
    <%= yield %>
    <div class="footer">
      <p>© 2020 Interians All rights reserved.</p>
    </div>
  </body>
</html>
